<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livesplit 片段文件分析工具</title>
    <link rel="stylesheet" href="/x/static/index.css" />
    <link rel="stylesheet" href="/app.css" />
    <script src="/x/static/vue.global.prod.js"></script>
    <script src="/x/static/index.full.min.js"></script>
    <script src="/x/static/axios.min.js"></script>
    <script src="/x/static/chart.umd.min.js"></script>
</head>

<body>
<div id="app">
    <el-text class="title-text">
        {{data.GameName}} /
        <span class="category-name">{{data.CategoryName}}</span>
    </el-text>
    <el-row class="content-container">
        <el-col :span="5"><el-statistic title="最佳纪录" :value="summary.BestTime"></el-statistic></el-col>
        <el-col :span="5"><el-statistic title="SOB" :value="summary.Sob"></el-statistic></el-col>
        <el-col :span="5"><el-statistic title="可节约时间" :value="summary.PossibleTimesave"></el-statistic></el-col>
        <el-col :span="5"><el-statistic title="尝试次数" :value="summary.Attempts"></el-statistic></el-col>
        <el-col :span="4"><el-statistic title="总游戏时长" :value="summary.Playtime"></el-statistic></el-col>
    </el-row>

    <!-- Chart container -->
    <div class="content-container">
        <el-card>
            <el-tabs v-model="totalTimeType" @tab-change="onTabChange">
                <el-tab-pane label="Real Time" name="realTime"></el-tab-pane>
                <el-tab-pane label="Game Time" name="gameTime"></el-tab-pane>
            </el-tabs>
            <el-row>
                <el-col :span="12">
                    <div class="chart-wrapper">
                        <canvas id="totalTimeChart"></canvas>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="chart-wrapper">
                        <canvas id="resetChart"></canvas>
                        <el-tooltip effect="light" content="对于有小分段的lss文件，可以选择按照大分段来统计重开次数" placement="bottom">
                            <el-switch
                              v-model="showBigSegment"
                              active-text="按大分段统计"
                              inactive-text="按小分段统计"
                              @change="createResetData"
                              :disabled="disableShowBigSegment"
                            ></el-switch>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
        </el-card>
    </div>

    <div class="section-title-container">
        <el-text class="section-title"><strong>
            速通分析
        </strong></el-text>
        <el-divider class="section-divider"></el-divider>
    </div>

    <div class="content-container">
        <el-card>
            <div class="breakdown-chart-wrapper">
                <canvas id="runBreakdownData" style="display:block;"></canvas>
            </div>
        </el-card>
    </div>

    <div class="section-title-container">
        <el-text class="section-title"><strong>
            分段分析
        </strong></el-text>
        <el-divider class="section-divider"></el-divider>
    </div>

    <div class="content-container">
        <el-select v-model="selectedSegment" @change="onSelectSegment">
            <el-option
                v-for="item in segmentOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
            />
        </el-select>
        <el-card class="segment-chart-card">
            <div class="segment-chart-wrapper">
                <canvas id="segmentData" style="display:block;"></canvas>
            </div>
        </el-card>
        <el-card class="segment-stats-card">
            <el-row class="stats-row">
                <el-col :span="5"><el-statistic title="最快用时" :value="segmentDetailData.Min"></el-statistic></el-col>
                <el-col :span="5"><el-statistic title="最慢用时" :value="segmentDetailData.Max"></el-statistic></el-col>
                <el-col :span="5"><el-statistic title="平均用时" :value="segmentDetailData.Average"></el-statistic></el-col>
                <el-col :span="5"><el-statistic title="用时中位数" :value="segmentDetailData.Median"></el-statistic></el-col>
                <el-col :span="4"><el-statistic title="用时标准差" :value="segmentDetailData.StandardDeviation+'秒'"></el-statistic></el-col>
            </el-row>
        </el-card>
    </div>
</div>

<script src="/app.js"></script>
</body>
</html>
